<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
</style>
<body>
   <form action="/" method="POST" >
       <input type="text" name="name" placeholder="Enter name here"><br>
       <textarea type="text" rows="20" cols="20" name="info" placeholder="Enter info here"></textarea><br>
       <textarea type="textarea" rows="20" cols="20" name="comments" placeholder="Enter comments here"></textarea><br>
       <input type="submit" value="submit"><br>
   </form>
   {% if message %}
    {{message}}
       
   {% endif %}
</body>
</html>
